<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="h1 mb-4 mt-4">TV Show {{show.id}}</div>
        <div class="mb-1">Title: {{show.title}}</div>
        <div class="mb-1">Network: {{show.network}}</div>
        <div class="mb-1">Release Date: {{show.release_date}}</div>
        <div class="mb-1">Description: {{show.desc}}</div>
        <div class="mt-5">Last Updated: {{show.updated_at}}</div>
        <div class="mt-1">
            <a href="/shows/{{show.id}}/edit">Edit</a> || <a href="/shows/{{show.id}}/delete">Delete</a>
        </div>
    </div>
</body>
</html>
